<div class="card">
    <h4 class="card-header">Registre</h4>
    <div class="card-body">
        <form  *ngIf="registreForm" [formGroup]="registreForm" (ngSubmit)="registre()" >
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" formControlName="firstname" class="form-control"  [ngClass]="{'is-valid': submitted &&
                !registreForm.get('firstname')?.errors,'is-invalid': submitted && registreForm.get('firstname')?.errors}" />
            </div>
            <div class="invalid feedback" *ngIf=" submitted && registreForm.get('firstname')?.hasError('required')">
                FirstName is required
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" formControlName="lastname" class="form-control"  [ngClass]="{'is-valid': submitted &&
                !registreForm.get('lastname')?.errors,'is-invalid': submitted && registreForm.get('lastname')?.errors}" />
            </div>
            <div class="invalid feedback" *ngIf=" submitted && registreForm.get('lastname')?.hasError('required')">
                LastName is required
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"  [ngClass]="{'is-valid': submitted &&
                !registreForm.get('username')?.errors,'is-invalid': submitted && registreForm.get('username')?.errors}" />
            </div>
            <div class="invalid feedback" *ngIf=" submitted && registreForm.get('username')?.hasError('required')">
                UsertName is required
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-valid': submitted &&
                !registreForm.get('password')?.errors,'is-invalid': submitted && registreForm.get('password')?.errors}" />
            </div>
            <div class="invalid feedback" *ngIf=" submitted && registreForm.get('password')?.hasError('required')">
                Password is required
            </div>
            <div class="form-group">
                <button  class="btn btn-primary" type="submit" >Registre </button>
            </div>
        </form>
            